body {
  text-align: center;
}

.lives-container {
  display: flex;
  width: 12%;
  margin: 0 auto;
  justify-content: center;
}
.life-heart {
  float: left;
  text-align: center;
  width: 30%;
}

.heart-image {
  width: 50px;
}
